{{ if eq .status "success" }}
	*[Build SUCCESS]* {{ .github.repository }}
	Commit message: {{ .commitMessage }}
	[See Changes]({{ .commitUrl }})

{{ else if eq .status "failure" }}
	*[Build FAILURE]* {{ .github.repository }}
	[See Error Log]({{ .actionUrl }})

{{ end }}
